{% extends 'base.html.twig' %}

{% block title %}{{tache.nom}}{% endblock %}

{% block body %}
<h1>Tache :{{tache.nom}}</h1>
<a>Deadline : {{tache.deadline|date('Y-m-d') }}</p>
{% if tache.etat == 1 %}
            <th>Etat : Fini</th>
            {% else %}
            <thE>Etat : Non fini</th>
            {% endif %}
<p> Utilisateur : {{tache.utilisateur}}</p>


<h2>Modifier les details de la tache</h2>

{{form (form_edit)}}
{{form (form_valid)}}

{% endblock %}